* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #0f1012;
    cursor: pointer;
}

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}

.cursor2 {
    position: fixed;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}

.stick {
    position: fixed;
    top: 0;
    width: 100%;
}

.reveal {

    transform: translate(50px);
    opacity: 0;
    transition: all 2s ease-in-out;
}

.reveal.active {
    transform: translate(0px);
    opacity: 100%;

}

.header {
    background: url('../image/fond.png') no-repeat;
    background-position: center;
    background-size: cover;
}

.nav_bar {
    display: flex;
    padding: 20px 50px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: rgb(227, 227, 227);
}

.menu {
    display: flex;

}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline;
    padding: 0 20px;
    text-align: center;

}

.menu ul li a {
    text-decoration: none;
    color: white;
}

.nav_logo {
    padding: 0px 100px;
}

.nav_logo img {
    width: 40px;
}

.menu_mob {
    display: none;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    color: rgb(255, 255, 255);
}

.content {
    max-width: 1600px;
    padding: 0;
}

.content p {
    font-weight: bolder;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0px;
    color: transparent;
    padding: 0 130px 0 0;

}

.content p span {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: clamp(20px, 8vw, 20px);

}

.content p span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

.content p:nth-child(1) {
    animation: txt 0s 1s forwards;
}

.content p:nth-child(2) {
    font-weight: 300;
    text-transform: lowercase;
    animation: txt-app 0s 1s forwards;
}

.content p:nth-child(1) span::after {
    background: #0f1012;
    animation: slide-in 0.75s ease-out forwards,
        slide-out 0.75s 1s ease-out forwards;
}

.content p:nth-child(2) span::after {
    background: #1d1e1f;
    animation: slide-in 0.75s 0.3s ease-out forwards,
        slide-out 0.75s 1.3s ease-out forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    100% {
        transform: translateX(100%);
    }
}

@keyframes txt-app {
    100% {
        color: #353535;
        font-size: 6px;
    }
}

@keyframes txt {
    100% {
        color: #ffffff;
        padding: 10px 0;
    }
}



.btn {
    margin: 20px 0 20px 0;
}

.btn a {
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 40px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.btn a:hover {
    background-color: white;
    color: rgb(0, 0, 0);
}

video {
    width: 700px;
    margin: 0 20px;
    border-radius: 8px;
}

.feature {
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    background: #1e1e1e51;
    width: 100%;
    color: white;
}

.feat {
    padding: 0 50px;
    border-left: #ffffff solid 1px;
}



.feat img {
    width: 40px;

}


.swip_controler {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    color: white;

}

#swip_controler_previous {
    position: relative;
    color: #7b7b7b;
}

#swip_controler_previous::before {
    color: #7b7b7b;
    cursor: pointer;
    position: relative;

}

#swip_controler_previous:hover:before {
    left: 8px;
    transform: scale(3%);
}

.swip_controler_next {
    position: relative;
}

#swip_controler_next::before {
    color: #7b7b7b;
    cursor: pointer;
    position: relative;
}

#swip_controler_next:hover:before {
    left: -8px;
    transform: scale(0.85);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    color: white;
    padding: 20px 30px;
    z-index: -1000;
}

.cards-wrapper {
    display: flex;
}

.cards__container {
    display: flex;
    height: 25rem;
}

.box {
    margin: 1.5rem;
    width: 50rem;
    height: 30rem;
    box-shadow: -2px 5px 33px 6px black(0, 0, 0, 0.35);
    background: linear-gradient(20deg, #0f1012, #0f1012, transparent);
    display: flex;
    border-radius: 20px;
    color: white;
    padding: 20px 30px;
    transition: 1s all;
    position: relative;
}

.box .box_ittems {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.box .box_ittems h3 {
    margin: 30px 0px 30px;
}

.box .box_ittems p {
    margin: 200px 0px 30px;
}

.box .box_ittems a {
    padding: 5px 30px;
    background: #1a8c59;
    border-radius: 6px;
    text-decoration: none;
    color: white;
}

.box img {
    width: 400px;
    margin: 100px 0px 30px;
}

.box:nth-child(2n) {
    transform: scale(0.85);
    z-index: -1;
}

.box:nth-child(2) {
    left: 5%;
}

.box:nth-child(4) {
    left: -5%;
}

.box:nth-child(4n + 1) {
    transform: scale(0.75);
    z-index: -2;
}

.box:nth-child(1) {
    left: 15%;
}

.box:nth-child(5) {
    left: -15%;
}

.box--hide {
    display: none;
}

.move-out-from-left {
    animation: moveOutLeft 0.5s ease-in-out;
}

.move-out-from-right {
    animation: moveOutRight 0.5s ease-in-out;
}

.move-to-position5-from-left {
    animation: moveToP5Left 0.5s ease-in-out;
}

.move-to-position4-from-left {
    animation: moveToP4Left 0.5s ease-in-out;
}

.move-to-position3-from-left {
    animation: moveToP3Left 0.5s ease-in-out;
}

.move-to-position2-from-left {
    animation: moveToP2Left 0.5s ease-in-out;
}

.move-to-position1-from-left {
    animation: moveToP1Left 0.5s ease-in-out;
}

.move-to-position5-from-right {
    animation: moveToP5Right 0.5s ease-in-out;
}

.move-to-position4-from-right {
    animation: moveToP4Right 0.5s ease-in-out;
}

.move-to-position3-from-right {
    animation: moveToP3Right 0.5s ease-in-out;
}

.move-to-position2-from-right {
    animation: moveToP2Right 0.5s ease-in-out;
}

.move-to-position1-from-right {
    animation: moveToP1Right 0.5s ease-in-out;
}

@keyframes moveOutLeft {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }

    50% {
        transform: scale(0.5) translateX(-150%);
        opacity: 0.5;
    }

    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

@keyframes moveOutRight {
    0% {
        transform: scale(0.75) translateX(0%);
        opacity: 1;
    }

    50% {
        transform: scale(0.5) translateX(150%);
        opacity: 0.5;
    }

    100% {
        transform: scale(0.25) translateX(0%);
        opacity: 0;
    }
}

@keyframes moveToP5Left {
    from {
        transform: scale(0.75) translateX(100%);
    }

    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP4Left {
    from {
        transform: scale(0.75) translateX(100%);
    }

    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Left {
    from {
        transform: scale(0.85) translateX(100%);
    }

    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP2Left {
    from {
        transform: scale(1) translateX(100%);
    }

    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP1Left {
    from {
        transform: scale(0.85) translateX(100%);
    }

    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP1Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }

    to {
        transform: scale(0.75) translateX(0);
    }
}

@keyframes moveToP2Right {
    from {
        transform: scale(0.75) translateX(-100%);
    }

    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP3Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }

    to {
        transform: scale(1) translateX(0);
    }
}

@keyframes moveToP4Right {
    from {
        transform: scale(1) translateX(-100%);
    }

    to {
        transform: scale(0.85) translateX(0);
    }
}

@keyframes moveToP5Right {
    from {
        transform: scale(0.85) translateX(-100%);
    }

    to {
        transform: scale(0.75) translateX(0);
    }
}

.txt {
    background: #1d1e1f;
    padding: 20px 30px;
    border-radius: 10px;

}

.txt .more {
    font-size: 15px;
    color: #58595c;
    padding: 5px 0;
    margin: 5px 0;
    border-bottom: 1px #58595c solid;

}

.notice {
    display: flex;
    flex-direction: column;
}

.notice .ittems {
    display: flex;
    align-items: center;
    padding: 10px 0;

}

.notice .ittems i {
    padding: 10px;
    background: #1a8c59;
    border-radius: 50%;
    margin: 0 5px;

}

.Customer {
    padding: 100px;
    text-align: center;
    color: white;
    padding: 40px 30px;
    width: 100%;
}

.secteur {
    display: flex;
    justify-content: center;
    padding: 50px 300px;

}

.secteur .btns {
    text-align: center;
    background-color: inherit;
    text-decoration: none;
    color: #7b7b7b;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    overflow: auto;
    white-space: nowrap;
    border-radius: 20px;
    font-weight: 550;
}

.btns.active {
    background-color: #1a8c59;
    color: white;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.tab {
    position: relative;
}

.tabcontent {
    display: flex;
    justify-content: space-between;
    color: white;
    opacity: 0;
}

.position {
    position: absolute;
    bottom: 10px;
}

.Toyota_txt {
    padding: 0px;
    text-align: left;
}

.Toyota_txt h2 {
    font-size: 2.1rem;
    padding: 20px 0;
}

.Toyota_txt p {
    font-size: 1.4rem;
    padding: 20px 0;
    color: #7b7b7b;
    padding: 20px 0;
}

.Toyota_txt a {
    text-decoration: none;
    color: #1a8c59;
    font-size: 30px;

}

.disvover span {
    position: relative;
}

.disvover::before span {
    color: #7b7b7b;
    cursor: pointer;
    position: relative;
}

.disvover:hover:before span {
    left: -8px;
    transform: scale(0.85);
}

.Toyota_txt img {
    width: 200px;
}

.Toyota_img {
    padding: 0 30px;
}

.Toyota_img img {
    border-radius: 15px;
    padding: 0;
}

.Toyota_img .taille {
    width: 600px;
}

.tabcontent.activecontent {
    animation: fade 0.5s forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.walper {
    text-align: center;
    color: white;

}

.wallpper {
    padding: 20px 0;
    display: flex;
    overflow: auto;

}

.subscribe {
    padding: 100px 200px;
    margin: 20px 50px;
    text-align: center;
    background: #1d1e1f33;
    background-image: url("../image/fond.png");
    border-radius: 10px;
    color: white;
}

.sub-txt h2 {
    padding: 0 80px 0 0;

}

footer {
    padding: 20px 30px;
    background: #00000060;
    background-image: url("../image/fond.png");
}

.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: left;
    border-bottom: #1d1e1f 2px solid;
    padding: 20px 0px;
}

.footer p {
    font-size: 12px;
    color: #58595c;
    padding: 5px 0;
}

.form input{
    border-radius: 10px;
    height: 20px;
}

.form button{
    border-radius: 10px;
    height: 20px;
    border: none;
    background: #1a8c59;
    color: white;
    padding: 5px;
}


.foot {
    display: flex;
    justify-content: space-between;
    color: #58595c;
    padding: 10px 0;
}




@media (max-width:480px) {

    .menu_mob {
        display: inline-block;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 3px;
        background-color: white;
        margin: 8px;
        transition: 0.5s;

    }

    .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
    }

    .change .bar2 {
        opacity: 0;
        ;
    }

    .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
    }

    .menu {
        display: none;

    }

    .nav_bar {
        display: flex;
        padding: 20px 20px;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        color: rgb(227, 227, 227);
    }

    .menu-mobile.menu {
        display: flex;
        background: #0f1012;
        position: absolute;
        color: white;
        padding: 50px;
        transition: all 1.5s ease-out;

    }




    .menu-mobile.menu ul {
        list-style: none;
    }

    .menu-mobile.menu ul li {
        display: inline;
        padding: 0 10px;
        text-align: center;

    }

    .menu-mobile.menu ul li a {
        text-decoration: none;
        color: white;
    }

    .menu-mobile.menu ul li a:hover {
        color: #1a8c59;
        transform: scale(14px);
    }

    .nav_logo img {
        width: 30px;
    }


    .head {
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        color: rgb(255, 255, 255);
    }

    .head p {
        padding: 0px 00px 10px 0px;
        color: rgb(74, 74, 74);
        font-size: 13px;

    }

    .head h1 {
        font-size: 2em;
        padding: 10px 0px 10px 0px;


    }

    .head img {
        width: 320px;
    }

    video {
        width: 320px;
        margin: 10px 0px;
        border-radius: 8px;
    }

    .feature {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 30px;
        background: #1e1e1e51;
        width: 100%;
        color: white;
    }

    .feat {
        padding: 0 10px;
        border-left: #ffffff solid 1px;
    }



    .feat img {
        width: 20px;

    }

    .container {
        display: flex;
        overflow: hidden;
        color: white;
    }

    .cards-wrapper {
        display: flex;
    }

    .cards__container {
        display: flex;
        height: 25rem;
    }

    .box {
        width: 30rem;
        height: 20rem;
        display: flex;
        border-radius: 20px;
        color: white;
        padding: 5px 30px;
        transition: 0.4s all ease-in;
        left: 550px;
        box-shadow: -2px 5px 33px 6px black(0, 0, 0, 0.35);
        position: relative;
        flex-direction: column;
    }

    .box .box_ittems {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
    }

    .box .box_ittems h3 {
        margin: 10px 0px;
        font-weight: 700;
        font-size: 25px;


    }

    .box .box_ittems p {
        margin: 100px 0px 30px;

    }

    .box .box_ittems a {
        padding: 5px 30px;
        background: #1a8c59;
        border-radius: 6px;
        text-decoration: none;
        color: white;
    }

    .box img {
        display: none;
        width: 200px;
        margin: 0px 0px 0px;
    }

    .swip_controler {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        color: white;

    }

    .Customer {
        text-align: center;
        color: white;
        padding: 20px 20px;
    }

    .secteur {
        display: flex;
        text-align: left;
        padding: 30px 0;
        overflow: auto;
    }

    .secteur .btns {
        background-color: inherit;
        padding: 10px 5px;
        cursor: pointer;


    }

    .btns.active {
        background: #1a8c59;
        color: white;
        transition: all 0.3s ease;
        border-radius: 20px;
    }

    .tabcontent {
        display: flex;
        flex-direction: column;
        color: white;
        padding: 0;
    }

    .Toyota_txt img {
        width: 200px;

    }

    .Toyota_img {
        padding: 20px 0px;

    }

    .Toyota_img img {
        border-radius: 15px;
        padding: 0;

    }

    .Toyota_img .taille {
        width: 300px;
        padding: 0;
    }

    .subscribe {
        padding: 50px 20px;
        margin: 20px 10px;
        text-align: center;
        background: #1d1e1f33;
        background-image: url("../image/fond.png");
        border-radius: 10px;
        color: white;
    }

    .sub-txt h2 {
        padding: 0 10px 0 0;

    }


    footer {
        padding: 20px 20px;
        background: #00000060;
        background-image: url("../image/fond.png");
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        color: white;
        text-align: left;
        border-bottom: #1d1e1f 2px solid;
        padding: 20px 0px;
    }

    .footer p {
        font-size: 12px;
        color: #58595c;
        padding: 5px 0;
    }

    .foot {
        display: flex;
        flex-direction: column;
        color: #58595c;
        padding: 10px 0;
    }

}